* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container h1,
.container p,
.container2 h2,
.container5 h2,
.container5 h3 {
  font-weight: 800;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 25px;
  height: 50px;
  overflow-y: hidden;
}

.navbar a {
  margin-top: 1em;
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.container {
  text-align: center;
  padding: 0 20px;
  background: linear-gradient(135deg, #5561ff, #33bbfd);
  color: white;
  min-height: 85vh;
  padding-bottom: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
}

.cards img:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

.container a {
  text-decoration: none;
}

#menu-toggle {
  display: none;
}

#hamburger-btn {
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  display: block;
}

#sub-menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 20px;
  background: linear-gradient(180deg, #5561ff, #33bbfd);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  list-style: none;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

#menu-toggle:checked ~ #sub-menu {
  display: flex;
}

#sub-menu li {
  margin: 0;
}

#sub-menu li a {
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.5s ease;
  text-decoration: none;
  color: white;
  font-weight: 800;
}

#sub-menu li a:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}

.logo {
  align-self: center;
  margin-top: 1.5em;
  font-size: 20px;
  font-weight: 600;
}

.bar {
  border: 1px solid white;
  width: 100%;
}

#nav-btn {
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  padding: 10px 15px;
  color: #33bbfd;
  text-decoration: none;
}

#nav-btn:hover {
  background: linear-gradient(135deg, #33bbfd, #5561ff);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.container h1 {
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
}

.container p {
  font-size: 20px;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 3em;
}

#start-btn {
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  padding: 20px 50px;
  color: #33bbfd;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

#start-btn:hover {
  background: linear-gradient(135deg, #33bbfd, #5561ff);
  color: white;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

.left-arrow:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.right-arrow:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}

.bottom-image img:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

.container2 {
  padding: 0 20px;
  background: #f5f5f5;
  height: 250vh;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container2 h2,
p {
  text-align: center;
}

.container2 h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container img {
  width: 400px;
  height: 300px;
}

.container2 p {
  padding: 20px 0;
}

.container3 {
  padding: 0 20px;
  background: linear-gradient(135deg, #33bbfd, #5561ff);
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card4 {
  position: relative;
  border: 2px solid white;
  border-radius: 30px;
  padding: 0 30px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card4 span {
  font-size: 30px !important;
}

.card4 h3 {
  font-size: 15px;
}

.custom-price {
  font-size: 30px;
  margin: 0 1em;
  margin-top: 2em;
}

.container3 h2 {
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

.container3 > p {
  font-size: 20px;
  margin-bottom: 30px;
}

.card4 a {
  border: 1px solid white;
  border-radius: 30px;
  background-color: white;
  padding: 20px 50px;
  color: #33bbfd;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  margin: 0 50px;
}

.card4 a:hover {
  border: none;
  background: linear-gradient(135deg, #33bbfd, #5561ff);
  color: white;
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

.card4 i {
  display: flex;
}

.card4 h2 {
  font-size: 50px;
  background: white;
  border: 2px solid white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #33bbfd;
}

.card4 p {
  color: white;
}

.card4 h3 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 30px;
  color: white;
}

.align-card {
  display: flex;
  gap: 20px;
}

:last-child .align-card {
  margin-bottom: 50px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
}

input[name="slider"] {
  display: none;
}

.slide {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#s1:checked ~ .slider-wrapper .slide:nth-child(1),
#s2:checked ~ .slider-wrapper .slide:nth-child(2) {
  display: flex;
}

.arrows {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
}

.arrows label {
  cursor: pointer;
  display: flex;
}

.arrows img {
  width: auto;
  height: auto;
  transition: 0.5s;
}

.arrows img:hover {
  opacity: 0.5;
}

.container4 {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 100px;
}

.container4 h2 {
  font-size: 30px;
  margin-bottom: 1em;
  background: linear-gradient(135deg, #33bbfd, #5561ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 800;
}

.container4 h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 2em;
  color: #cacaca;
}

.container4 p {
  text-align: center;
  font-size: 30px;
  max-width: 600px;
}

#up {
  margin-bottom: 2em;
  align-self: flex-start;
}

#down {
  margin-bottom: 2em;
  align-self: flex-end;
}

.pfp {
  border: 1px solid #c4c4c4;
  background: #c4c4c4;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1em;
}

#star {
  margin-bottom: 2em;
}

.container5 {
  background: #f5f5f5;
  padding: 0 20px;
  margin-top: 100px;
}

.container5 h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 3em;
  margin-bottom: 1em;
}

.container5 h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20em;
}

.container5 form label {
  background: linear-gradient(90deg, #33bbfd, #5561ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  text-align: left;
  margin-left: 1em;
  font-weight: 800;
}

.container5 form input,
textarea {
  width: 90%;
  height: 50px;
  border: 3px solid black;
  border-radius: 30px;
  margin: 1em 0;
  padding: 1em;
}

#message {
  padding-bottom: 150px;
}

button {
  padding: 15px 35px;
  border: 1px solid;
  border-radius: 30px;
  color: white;
  font-weight: 800;
  align-items: center;
  background: linear-gradient(90deg, #33bbfd, #5561ff);
  transition: 0.5s;
}

button:hover {
  background: linear-gradient(180deg, #33bbfd, #5561ff);
  padding: 20px 40px;
  cursor: pointer;
  transform: scale(1.1);
}

.btn {
  text-align: center;
  margin-bottom: 2em;
}

.container5 p {
  margin-bottom: 5em;
}

.container6 {
  margin-top: 5em;
  background: linear-gradient(180deg, #34bcfd, #575bff);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container6 h2 {
  margin-top: 3em;
  color: white;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 3em;
  text-align: center;
}

.container6 h3 {
  color: white;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 1em;
  margin-top: 2em;
}

.container6 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1em;
}

.container6 a:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
  transform: scale(1.1);
}

.container6 img {
  margin-bottom: 2em;
  margin-top: 2em;
  padding-right: 2em;
}

.container6 p {
  margin-top: 2em;
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.quick-link,
.ressource,
.career,
.legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

@media screen and (min-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    padding: 15px 50px;
    overflow-y: hidden;
  }

  #hamburger-btn {
    display: none;
  }

  #sub-menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    margin-right: auto;
    margin-left: 50px;
    order: 2;
    background: transparent;
  }

  #sub-menu li a {
    padding: 0 15px;
  }

  .logo {
    order: 1;
    margin-top: 1em;
    margin-right: auto;
  }

  #nav-btn {
    margin-top: 0.5em;
    order: 3;
  }

  .container h1 {
    font-size: 70px;
  }

  .container2 {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 5em;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container2 > h2 {
    font-size: 40px;
    margin-top: 2em;
  }

  .container2 > p {
    font-size: 30px;
    margin-bottom: 3em;
  }

  .container2 img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .container3 {
    margin-top: 0;
    background: #d9d9d9;
    color: white;
  }

  .cards2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
  }

  .card4 {
    padding: 0 5px;
    height: 100vh;
  }

  .custom-price {
    font-size: 30px;
    margin: 0 1em;
    margin-top: 0;
  }

  .cards img {
    width: 350px;
    height: 250px;
  }

  .container3 > p {
    font-size: 20px;
    margin-bottom: 3em;
  }

  .card4 h2 {
    color: #33bcfe;
    font-size: 30px;
    padding-bottom: 1em;
    font-weight: 800;
    position: relative;
    margin: 0 -80px;
  }

  .card4 a {
    color: #33bcfe;
    text-decoration: none;
    font-weight: 800;
  }

  .card4 i {
    padding-left: 5px;
  }

  .card4 h3 {
    padding-top: 1em;
  }

  .container3 > h2 {
    font-size: 50px;
    margin-top: 2em;
  }

  .container4 h2 {
    margin-top: 2em;
    padding-top: 0;
  }

  .container4 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .container4 p {
    max-width: 700px;
  }

  .profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pfp {
    margin-right: 5em;
    width: 250px;
    height: 250px;
  }

  .profil-desc h2 {
    margin: 0 auto;
  }

  .profil-desc h3 {
    margin-bottom: 0.5em;
  }

  .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  .arrows img {
    margin: 0 10em;
    width: 50px;
    height: auto;
  }

  .container5 h3 {
    margin-bottom: 2em;
  }

  .container5 form input,
  textarea {
    width: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15em;
  }

  .footer-nav h2 {
    margin: 1em 0;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .container6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container6 p {
    margin-bottom: 2em;
  }
}
